name: Build & Test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  JAVA_VERSION: 17
  JAVA_PACKAGE: jdk
  JAVA_ARCH: x64
  JAVA_DISTRO: temurin
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        java-version: ${{ env.JAVA_VERSION }}
        java-package: ${{ env.JAVA_PACKAGE }}
        architecture: ${{ env.JAVA_ARCH }}
        distribution: ${{ env.JAVA_DISTRO }}
    - name: Cache Gradle packages
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Cleanup Gradle Cache
      # Remove some files from the Gradle cache, so they aren't cached by GitHub Actions.
      # Restoring these files from a GitHub Actions cache might cause problems for future builds.
      run: |
        rm -f ~/.gradle/caches/modules-2/modules-2.lock
        rm -f ~/.gradle/caches/modules-2/gc.properties
    - name: Upload Cucumber NDJSON
      uses: actions/upload-artifact@v3
      with:
        name: cucumber-ndjson
        path: ./build/reports/cucumber.ndjson
    - name: Upload Cucumber HTML
      uses: actions/upload-artifact@v3
      with:
        name: cucumber-html
        path: ./build/reports/cucumber.html
    - name: Upload Timeline Report
      uses: actions/upload-artifact@v3
      with:
        name: cucumber-timeline
        path: ./build/reports/timeline/*
    - name: Upload Gradle Test Report
      uses: actions/upload-artifact@v3
      with:
        name: gradle-test-report
        path: ./build/reports/tests/test/*
